.navbar{
    display: flex;
    background-color: #ecde1b;
    border-radius: 10px;
    height: 100px;
    justify-content: space-between;
    
    
}
.imagem{
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 5px;
}
.logoSobre{
    display: flex;
    margin: 15px;
   margin-left: 200px;
   font-size: 60px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: auto;
}
#cadastro{
    display: flex;
    margin-right: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
}